html {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif"; }

body {
  background: #263238;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%; }

.about-me {
  padding: 5% 0 10%;
  width: 100%; }

.about-me__image {
  border-radius: 500px;
  margin: 0 30%;
  width: 40%; }

.about-me__title {
  color: #00ACC1;
  font-size: 2em;
  font-weight: 300;
  margin: 0 auto;
  padding: 2% 0;
  width: 80%; }

.about-me__description {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0 auto;
  padding: 0 0 10%;
  width: 80%; }

.about-me__info-wrapper {
  margin: 0 auto;
  width: 80%; }

.about-me__info-wrapper--inner {
  float: left;
  width: 33%; }

.about-me__resume-button {
  border: 1px solid #00ACC1;
  color: #00ACC1;
  font-size: 1.5em;
  padding: 10px 20px;
  transition: all .4s;
  text-decoration: none;
  text-transform: uppercase; }
  .about-me__resume-button:hover {
    background-color: #00ACC1;
    color: #263238;
    cursor: pointer; }

.about-me__email {
  color: #fff;
  font-weight: 300;
  text-decoration: none; }

.work-hero--one, .work-hero--two, .work-hero--three, .work-hero--four, .work-hero--five, .work-hero--six {
  float: left;
  height: 100vw;
  width: 100%;
  z-index: 1;
  transition: all .4s; }
  .work-hero--one:hover, .work-hero--two:hover, .work-hero--three:hover, .work-hero--four:hover, .work-hero--five:hover, .work-hero--six:hover {
    box-shadow: 0px 0px 20px #000;
    transform: scale(1.02);
    z-index: 2; }

.work-hero--one {
  background: url(../img/spiffly-web/spiffly-logo.png) center no-repeat;
  background-size: 80%;
  background-color: #025cb4; }

.work-hero--two {
  background: url(../img/sherpa/sherpaApp-view1.gif) center no-repeat;
  background-size: 50%;
  background-color: #98CA4F; }

.work-hero--three {
  background: url(../img/3d-printing/3d-print-v1.gif) center no-repeat;
  background-size: 60%;
  background-color: #FF9800; }

.work-hero--four {
  background: url(../img/parallax-boxer/img_boxerA.png) center no-repeat;
  background-size: 75%;
  background-color: #E74C3C; }

.work-hero--five {
  background: url(../img/rosie/rosie-mock.gif) center no-repeat;
  background-size: 48%;
  background-color: #2197F2; }

.work-hero--six {
  background: url(../img/spiffly-app/spiffly-interactive-view.gif) center no-repeat;
  background-size: 55%;
  background-color: #EF5051; }

.about-me__info-wrapper--inner {
  font-weight: 300;
  font-size: 1.5em;
  padding: 10% 0 0;
  text-align: left;
  width: 100%; }
  .about-me__info-wrapper--inner + .about-me__info-wrapper--inner {
    padding: 0; }
  .about-me__info-wrapper--inner:nth-child(3) {
    padding: 0 0 10%; }

@media (min-width: 780px) {
  .about-me {
    padding: 3% 0 6%; }

  .about-me__image {
    margin: 0 34%;
    width: 32%; }

  .about-me__title {
    padding: 2% 0; }

  .about-me__description {
    padding: 0 0 5%; }

  .work-hero--one, .work-hero--two, .work-hero--three, .work-hero--four, .work-hero--five, .work-hero--six {
    height: 50vw;
    width: 50%; }

  .about-me__info-wrapper--inner {
    font-size: 1em;
    padding: 3% 0;
    width: 33.3%; }
    .about-me__info-wrapper--inner:nth-child(2) {
      padding: 3% 0;
      text-align: center; }
    .about-me__info-wrapper--inner:nth-child(3) {
      padding: 3% 0;
      text-align: right; } }
@media (min-width: 1028px) {
  .about-me {
    padding: 2% 0 5%; }

  .about-me__image {
    margin: 0 37.5%;
    width: 25%; }

  .work-hero--one, .work-hero--two, .work-hero--three, .work-hero--four, .work-hero--five, .work-hero--six {
    height: 33.3vw;
    width: 33.3%; } }

/*# sourceMappingURL=main.css.map */
