//! GLOBALS -------------------------------------
//-----------------------------------------------
html {
	box-sizing: border-box;
	font-family: "Roboto", "sans-serif";
}

body {
	background: $dark-cobalt;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
}