//! COLORS --------------------------------------
//-----------------------------------------------
$dark-grey: #424242;
$light-grey: #ECEFF1;
$dark-cobalt: #263238;
$light-cobalt: #37474F;
$electric-blue: #00ACC1;


//! BREAKS --------------------------------------
//-----------------------------------------------
$break-medium: 780px;
$break-large: 1028px;