//! ABOUT ME ------------------------------------
//-----------------------------------------------
.about-me {
	padding: 2% 0 5%;
}

.about-me__image {
	margin: 0 37.5%;
	width: 25%;
}



//! WORK ----------------------------------------
//-----------------------------------------------
%work-hero {
	height: 33.3vw;
	width: 33.3%;
}